@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Open+Sans");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
main {
    align-items: center;
    overflow:visible;
}

.hero-all {
    background-image: url("./images/bg-hero-desktop.svg");
    background-size: cover;
    width: 100vw;
    background-color: hsl(193, 100%, 96%);
}
header {
    height: 88px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}
.logo-img img{
    width: 65%;
    height: auto;
}
.header-btn {
    background-color: #ffff;
    color: #00252e;
    border: none;
    border-radius: 50px;
    padding: 10px 48px;
    box-shadow: 0px 2px 6px 2px #b9b9b952;
    font-family: Open sans;
    font-size: 12px;
    font-weight: 700;
}
.header-btn:hover {
    background-color: #ff52bf;
    color: #ffff;

}

.hero-main {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
   padding: 30px 48px;
}
.hero-lhs {
    margin-top: 100px;
    width: 60%;
}
.hero-title {
    color: #00252e;
    font-size: 36px;
    font-weight: 600;
}
.hero-tagline {
    margin-top: 20px;
    width: 100%;
    color: #00252e;
    font-family: Open sans;
    font-size: 16px;
    font-weight: 400;
}
.hero-rhs img{
    width: 100%;
    height: auto;
}
.hero-btn {
    display: flex;
    background-color: #ff52bf;
    color: #ffff;
    border: none;
    border-radius: 50px;
    padding: 12px 44px;
    margin-top: 25px;
    font-family: Open sans;
    font-size: 12px;
    font-weight: 700;
}
.hero-btn:hover {
    background-color: #00252e;
    color: #ffff;
    
}

.grow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 70px 0 70px;
    background-color: #ffff;
    padding: 40px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 4px #b9b9b952;
}
.grow-lhs {
    padding: 110px 70px;
    width: 100%;
}
.grow-rhs img {
     width: 90%;
     height: auto;
}

.flow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 70px 0 70px;
    background-color: #ffff;
    padding: 40px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 4px #b9b9b952;
}
.flow-lhs img{
    padding: 0 70px;
    width: 90%;
     height: auto;
}
.flow-rhs {
     padding: 110px 40px;
    width: 100%;
}

.users-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 70px 0 70px;
    background-color: #ffff;
    padding: 40px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 4px #b9b9b952;
}
.users-lhs {
    padding: 110px 70px;
    width: 100%;
}
.users-rhs img {
     width: 90%;
     height: auto;
}

h3 {
    font-size: 24px;
    color: #00252e;
    font-weight: 600;
    margin-bottom: 13px;
}
.grow-tagline, .flow-tagline, .users-tagline {
    color: hsl(208, 11%, 55%);
    font-family: Open sans;
    font-size: 16px;
    font-weight: 400;
}

.cta-container {
    display: block;
    width: 700px;
    margin: 125px auto 0 auto;
    background-color: #ffff;
    border-radius: 15px;
    box-shadow: 0 -4px 6px 0 #b9b9b952;
    position: relative;
    bottom: -70px;
}
.cta-rect {
    padding: 50px 70px 40px 70px;
    text-align: center;
}
#cta-text {
    font-size: 28px;
}
.cta-btn {
    background-color: #ff52bf;
    color: #ffff;
    border: none;
    margin-top: 15px;
    border-radius: 50px;
    padding: 20px 76px;
    font-family: Open sans;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 5px 8px 0px #58585852;
}

.footer-container {
   background-color: #00252e;
   color: #ffff;
   padding: 140px 70px 70px 100px;
}
.down-logo img {
    width: 18%;
    padding-bottom: 10px;
}
.foot-all {
    display: flex;
    justify-content: space-between;
    font-family: Open sans;
    font-size: 14px;
    font-weight: 300;
}
.foot-one span {
    margin-right: 15px;
}
.location {
    display: flex;
    width: 350px;
    padding-top: 15px;
}
.phone p, .email p, .foot-two p, .foot-three p {
    padding-top: 15px;
}
.icons-right {
    font-size: 18px;
    padding-top: 15px;
}
.copyright {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 10px;
    font-family: Open sans;
    font-weight: 300;
}




 /* on mobile */
@media screen and (max-width:767px) {
    header {
        padding: 0 22px;
    }
    .logo-img img{
        width: 45%;
        height: auto;
    }
    .header-btn {
        width: 35%;
        padding: 5px 0;
        box-shadow: 0px 2px 6px 2px #b9b9b952;
    }
    .hero-all {
        background-image: url("./images/bg-hero-mobile.svg");
    }
    .hero-main {
        display: block;
        text-align: center;
        width: 100vw;
        height: fit-content;
        margin: 0 auto 30px auto;
    }
    .hero-lhs {
        margin-top: 20px;
        width: 100%;
    }
    .hero-title {
        font-size: 24px;
        font-weight: 600;
    }
    .hero-tagline {
        font-size: 16px;
    
    }
    .hero-btn {
        display: block;
        width: 80%;
        padding: 12px 44px;
        margin: 30px auto 0 auto;
    }
    .hero-rhs img{
        width: 100%;
        height: auto;
        margin-top: 60px;
    }
    .grow-container, .users-container {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 60px auto 0 auto;
    }
    .users-container {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin: 45px auto 0 auto;
    }

    .flow-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 45px auto 0 auto;
    }

    .grow-rhs img, .users-rhs img {
        display: block;
        margin: 0 auto;
        padding: 25px 0 10px 0;
        width: 70%;
        height: auto;
   }

   .flow-lhs img {
    display: block;
    margin: 0 auto;
    padding: 25px 0 10px 0;
    width: 70%;
    height: auto;
}
   .grow-lhs, .users-lhs {
    display: block;
    text-align: center;
    padding: 50px 30px 0 30px;
    width: 100%;
   }

   .flow-rhs {
    display: block;
    text-align: center;
    padding: 50px 30px 0 30px;
    width: 100%;
   }

   .cta-container {
    display: block;
    width: 93%;
    margin: 60px auto 0 auto;

   }
   .cta-rect {
    width: 100%;
    padding: 50px 0 40px 0;
    text-align: center;
  }
  #cta-text {
    font-size: 20px;
  }
  .cta-btn {
    width: 60%;
    padding: 15px 26px;
    font-size: 12px;
 }
 .footer-container {
    padding: 140px 15px 70px 15px;
 }
 .down-logo img {
    width: 45%;
    padding-bottom: 10px;
}
.foot-all {
    display: flex;
    flex-direction: column;
    font-family: Open sans;
    font-size: 14px;
    font-weight: 300;
}
.icons-right {
    display: block;
    font-size: 22px;
    margin: 40px auto 20px auto;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-family: Open sans;
    font-weight: 300;
}
#about {
    padding-top: 50px;
}
}
